<!--
{{#each model as |rating|}}
  <br>{{rating.id}}
  <br>{{rating.rating}}
  <br>
{{/each}} -->

<!-- {{vertical-bar-chart data=model}} -->
{{!-- stats/template.hbs --}}
<!-- {{log model}} -->
<!-- {{log model.la}} -->
<h1 class="center">
  <em>ᕕ( ՞ ᗜ ՞ )ᕗ  Top Coffee Shops in Montreal Ratings</em>
</h1>
{{bar-chart data=model.montreal options=options}}<br>

<h1 class="center">
  <em>ᕕ(⌐■_■)ᕗ ♪♬  Top Coffee Shops in Los Angeles Ratings</em>
</h1>
{{bar-chart data=model.la options=options}}<br>
<h1 class="center">
  <em>ᕕ(⌐■_■)ᕗ ♪♬  Top Coffee Shops in Los Angeles Ratings</em>
</h1>
<h1 class="center">
  <em>(つ◉益◉)つ  Top Coffee Shops in New York Ratings</em><br>
</h1>
{{bar-chart data=model.ny options=options}}
