<!--
{{#each model as |rating|}}
  <br>{{rating.id}}
  <br>{{rating.rating}}
  <br>
{{/each}} -->

<!-- {{vertical-bar-chart data=model}} -->
{{!-- stats/template.hbs --}}
<!-- {{log model}} -->
<!-- {{log model}} -->

{{bar-chart data=model options=options}}
<h1 class="center">
  <em>ᕕ( ՞ ᗜ ՞ )ᕗ  Top Coffee Shops in Montreal Ratings</em>
</h1>
